@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<EShop.Models.Product>

@{
    int _current = ViewBag.CurrentPage;
    ViewData["Title"] = "Sản phầm bán chạy - Trang "+_current;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/AdminAssets/vendors/datatables/dataTables.bootstrap.min.css" rel="stylesheet">
<div class="main-content">
    <div class="page-header">
        <h2 class="header-title">Product List</h2>
        <div class="header-sub-title">
            <nav class="breadcrumb breadcrumb-dash">
                <a asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
                <span class="breadcrumb-item active">Quản lý sản phẩm</span>
            </nav>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row m-b-30">
                <div class="col-lg-8">
                    <form asp-controller="AdminProducts" asp-action="Index">
                        <p>
                            <input type="search" name="searchStr" value="@ViewData["CurrentFilter"]" required />
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </p>
                    </form>

                </div>

                <div class="col-lg-4 text-right">
                    <a asp-controller="AdminProducts" asp-action="Create" class="btn btn-primary">
                        <i class="anticon anticon-plus-circle m-r-5"></i>
                        <span>Thêm sản phẩm</span>
                    </a>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover e-commerce-table">
                    <thead>
                        <tr>
                            <th>
                                <a @*asp-action="Index"*@ asp-route-sortOrder="@ViewData["IdSortParm"]">
                                    ID
                                </a>
                            </th>
                            <th class="text-center align-items-center">
                                Tên sản phẩm
                            </th>
                            <th class="text-center align-items-center">Danh mục</th>
                            <th class="text-center align-items-center">Thương hiệu</th>
                            <th>Giá</th>
                            <th class="text-center align-items-center">
                                <a @*asp-action="Index"*@ asp-route-sortOrder="@ViewData["UnitSortParm"]">
                                    Kho
                                </a>
                            </th>
                            <th>Trạng thái</th>
                            <th class="text-center align-items-center">Is BestSeller?</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @item.ProductId
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center text-center">
                                            <img class="img-fluid rounded" src="~/images/products/@item.ThumbImg"
                                                 style="max-width: 60px" alt="">
                                            <h6 class="m-b-0 m-l-10">@item.ProductName</h6>
                                        </div>
                                    </td>
                                    <td class="text-center align-items-center">@item.Cate.CategoryName</td>
                                    <td class="text-center align-items-center">@item.Brand.BrandName</td>
                                    <td>@item.Price.Value.ToString("#,##0") VNĐ</td>
                                    <td class="text-center align-items-center">@item.UnitInStock</td>
                                    @if (item.IsActived && item.UnitInStock > 0)
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-success badge-dot m-r-10"></div>
                                                <div>In Stock</div>
                                            </div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <div class="d-flex align-items-center">
                                                <div class="badge badge-danger badge-dot m-r-10"></div>
                                                <div>Out of Stock</div>
                                            </div>
                                        </td>
                                    }
                                    @if (item.IsBestsellers)
                                    {
                                        <td class="text-center align-items-center">
                                            <i class="fab fa-hotjar"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td class="text-center align-items-center">
                                            <i class="fas fa-temperature-low"></i>
                                        </td>
                                    }
                                    <td>
                                        <a asp-controller="AdminProducts" asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-eye"></i>
                                        </a>
                                        <a asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-edit"></i>
                                        </a>
                                        @*<button type="button" class="btn btn-icon btn-hover btn-sm btn-rounded" data-toggle="modal" data-target="#exampleModalCenter">
                                                <i class="anticon anticon-delete"></i>
                                            </button>*@
                                        <a asp-controller="AdminProducts" asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-icon btn-hover btn-sm btn-rounded">
                                            <i class="anticon anticon-delete"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                <pager class="paper-container" list="@Model" asp-area="Admin" asp-controller="AdminProducts" asp-action="Index"></pager>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <i class="anticon anticon-close"></i>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa nó chứ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger">Xóa</button>
            </div>
        </div>
    </div>
</div>
@section Styles {
    <style>
        form {
            position: relative;
            transform: translate(5%,5%);
            transition: all 1s;
            width: 50px;
            height: 50px;
            background: white;
            box-sizing: border-box;
            border-radius: 25px;
            border: 4px solid black;
            padding: 5px;
        }

            form input {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 42.5px;
                line-height: 30px;
                outline: 0;
                border: 0;
                display: none;
                font-size: 1em;
                border-radius: 20px;
                padding: 0 20px;
                background: #CBF6D2;
            }

        .fa {
            box-sizing: border-box;
            padding: 10px;
            width: 42.5px;
            height: 42.5px;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 50%;
            color: #07051a;
            text-align: center;
            font-size: 1.2em;
            transition: all 1s;
        }

        form:hover,
        form:valid {
            width: 200px;
            cursor: pointer;
        }

            form:hover input,
            form:valid input {
                display: block;
            }

            form:hover .fa,
            form:valid .fa {
                background: #07051a;
                color: white;
            }

        button {
            border: none;
        }
    </style>
}
