@model EShop.Models.Product

@{
    ViewData["Title"] = "Chi tiết sản phẩm #"+Model.ProductId;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Content Wrapper START -->
<div class="main-content">
    <div class="page-header no-gutters has-tab">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-image rounded" style="height: 70px; width: 70px">
                    <img src="~/images/products/@Model.ThumbImg" alt="@Model.Title">
                </div>
                <div class="m-l-15">
                    <h4 class="m-b-0">@Model.ProductName</h4>
                    <p class="text-muted m-b-0">ID: @Model.ProductId</p>
                </div>
            </div>
            <div class="m-b-15">
                <div class="form-group">
                    <a asp-controller="AdminProducts" asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary">
                        <i class="anticon anticon-edit"></i>
                        <span>Sửa</span>
                    </a>
                </div>
                <div>
                    <a asp-action="Index" type="button" class="btn btn-dark">Back to List</a>
                </div>
            </div>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#product-overview">Sơ lược</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#product-images">Hình ảnh sản phấm</a>
            </li>
        </ul>
    </div>
    <div class="container-fluid">
        <div class="tab-content m-t-15">
            <div class="tab-pane fade show active" id="product-overview">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-success anticon anticon-smile"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">10 ratings</p>
                                        <div class="star-rating m-t-5">
                                            <input type="radio" id="star3-5" name="rating-3" value="5" checked disabled /><label for="star3-5" title="5 star"></label>
                                            <input type="radio" id="star3-4" name="rating-3" value="4" disabled /><label for="star3-4" title="4 star"></label>
                                            <input type="radio" id="star3-3" name="rating-3" value="3" disabled /><label for="star3-3" title="3 star"></label>
                                            <input type="radio" id="star3-2" name="rating-3" value="2" disabled /><label for="star3-2" title="2 star"></label>
                                            <input type="radio" id="star3-1" name="rating-3" value="1" disabled /><label for="star3-1" title="1 star"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-shopping-cart"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Sales</p>
                                        <h3 class="m-b-0 ls-1">1,521</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-message"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Reviews</p>
                                        <h3 class="m-b-0 ls-1">27</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="media align-items-center">
                                    <i class="font-size-40 text-primary anticon anticon-stock"></i>
                                    <div class="m-l-15">
                                        <p class="m-b-0 text-muted">Số lượng tồn</p>
                                        <h3 class="m-b-0 ls-1">@Model.UnitInStock</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Thông tin cơ bản</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Price:</td>
                                        <td class="text-dark font-weight-semibold">@Model.Price.Value.ToString("#,##0") VNĐ</td>
                                    </tr>
                                    <tr>
                                        <td>Category:</td>
                                        <td>@Model.Cate.CategoryName</td>
                                    </tr>
                                    <tr>
                                        <td>Brand:</td>
                                        <td>@Model.Brand.BrandName</td>
                                    </tr>
                                    <tr>
                                        <td>Tag:</td>
                                        <td>@Model.Tag</td>
                                    </tr>
                                    <tr>
                                        <td>Discount:</td>
                                        <td>@Model.Discount%</td>
                                    </tr>
                                    <tr>
                                        <td>Status:</td>
                                        @if (Model.IsActived)
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-cyan">Còn hàng</span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <span class="badge badge-pill badge-red">Hết hàng</span>
                                            </td>
                                        }
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                @*<div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Option Info</h4>
                        <div class="table-responsive">
                            <table class="product-info-table m-t-20">
                                <tbody>
                                    <tr>
                                        <td>Sizes:</td>
                                        <td>S, M, L, XL</td>
                                    </tr>
                                    <tr>
                                        <td>Colors:</td>
                                        <td class="d-flex">
                                            <span class="d-flex align-items-center m-r-20">
                                                <span class="badge badge-dot product-color m-r-5" style="background-color: #4c4e69"></span>
                                                <span>Dark Blue</span>
                                            </span>
                                            <span class="d-flex align-items-center m-r-20">
                                                <span class="badge badge-dot product-color m-r-5" style="background-color: #868686"></span>
                                                <span>Gray</span>
                                            </span>
                                            <span class="d-flex align-items-center m-r-20">
                                                <span class="badge badge-dot product-color m-r-5" style="background-color: #8498c7"></span>
                                                <span>Gray Blue</span>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fit:</td>
                                        <td>Skinny Fit</td>
                                    </tr>
                                    <tr>
                                        <td>Material:</td>
                                        <td>Polyester</td>
                                    </tr>
                                    <tr>
                                        <td>Tag:</td>
                                        <td>@Model.Tag</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>*@
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Mô tả sản phẩm</h4>
                    </div>
                    <div class="card-body">
                        <p>@Html.Raw(Model.Descriptions)</p>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="product-images">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/_AdminAssets/images/others/product-1.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/_AdminAssets/images/others/product-2.jpg" alt="">
                            </div>
                            <div class="col-md-3">
                                <img class="img-fluid" src="~/_AdminAssets/images/others/product-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Wrapper END -->